{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      "warning",
      "always"
    ],
    "import/no-unresolved": "warning",
    "quotes": [
      "warning",
      "double"
    ]
  }
}